@import "tailwindcss";

 
.transform-style-3d {
  transform-style: preserve-3d;
}
.main-card {
  transform: translateZ(20px); /* Lifts the card off the base */
}
.floating-accent {
  transform: translateZ(60px); /* Lifts floating icons even higher */
}